@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

.anim-typewriter {
  width: 0;
}


.full {
  @apply w-full h-full;
}

@keyframes filter-slide-down {
  0% {
    bottom: 3rem;
    opacity: 0;
  }

  100% {}
}

@keyframes filter-slide-up {
  0% {
    bottom: -13rem;
  }

  100% {
    bottom: 0rem;
  }
}

.mono {
  font-family: 'IBM Plex Mono', monospace;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

#s1 {
  opacity: 0;
  animation: fade 5s ease-in-out 2s infinite;
}

#s2 {
  opacity: 0;
  animation: fade 5s ease-in-out 6s infinite;
}

#s3 {
  opacity: 0;
  animation: fade 3s ease-in-out 4s infinite;
}

#s4 {
  opacity: 0;
  animation: fade 5s ease-in-out 4s infinite;
}

#s5 {
  opacity: 0;
  animation: fade 3s ease-in-out 6s infinite;
}

#s6 {
  opacity: 0;
  animation: fade 4s ease-in-out 4s infinite;
}

#s7 {
  opacity: 0;
  animation: fade 4s ease-in-out 2s infinite;
}

#s8 {
  opacity: 0;
  animation: fade 3s ease-in-out 5s infinite;
}

#s9 {
  opacity: 0;
  animation: fade 3s ease-in-out 4s infinite;
}

#s10 {
  opacity: 0;
  animation: fade 5s ease-in-out 4s infinite;
}

#s11 {
  opacity: 0;
  animation: fade 3s ease-in-out 6s infinite;
}

#s12 {
  opacity: 0;
  animation: fade 5s ease-in-out 2s infinite;
}

#s13 {
  opacity: 0;
  animation: fade 4s ease-in-out 6s infinite;
}

#s14 {
  opacity: 0;
  animation: fade 4s ease-in-out 4s infinite;
}

#s15 {
  opacity: 0;
  animation: fade 4s ease-in-out 5s infinite;
}

#s16 {
  opacity: 0;
  animation: fade 3s ease-in-out 3s infinite;
}

#s17 {
  opacity: 0;
  animation: fade 3s ease-in-out 4s infinite;
}

#s18 {
  opacity: 0;
  animation: fade 3s ease-in-out 4s infinite;
}

#s19 {
  opacity: 0;
  animation: fade 5s ease-in-out 3s infinite;
}

#s20 {
  opacity: 0;
  animation: fade 3s ease-in-out 3s infinite;
}

#s21 {
  opacity: 0;
  animation: fade 4s ease-in-out 4s infinite;
}

#s22 {
  opacity: 0;
  animation: fade 4s ease-in-out 4s infinite;
}

#s23 {
  opacity: 0;
  animation: fade 3s ease-in-out 6s infinite;
}

#s24 {
  opacity: 0;
  animation: fade 5s ease-in-out 4s infinite;
}

#s25 {
  opacity: 0;
  animation: fade 5s ease-in-out 2s infinite;
}

#s26 {
  opacity: 0;
  animation: fade 3s ease-in-out 6s infinite;
}

#s27 {
  opacity: 0;
  animation: fade 3s ease-in-out 2s infinite;
}

#s28 {
  opacity: 0;
  animation: fade 4s ease-in-out 6s infinite;
}

#s29 {
  opacity: 0;
  animation: fade 3s ease-in-out 2s infinite;
}

#s30 {
  opacity: 0;
  animation: fade 3s ease-in-out 4s infinite;
}

#s31 {
  opacity: 0;
  animation: fade 3s ease-in-out 5s infinite;
}

#s32 {
  opacity: 0;
  animation: fade 3s ease-in-out 3s infinite;
}

#s33 {
  opacity: 0;
  animation: fade 3s ease-in-out 5s infinite;
}

#s34 {
  opacity: 0;
  animation: fade 4s ease-in-out 2s infinite;
}

#s35 {
  opacity: 0;
  animation: fade 4s ease-in-out 2s infinite;
}

#s36 {
  opacity: 0;
  animation: fade 5s ease-in-out 5s infinite;
}

#s37 {
  opacity: 0;
  animation: fade 5s ease-in-out 2s infinite;
}

#s38 {
  opacity: 0;
  animation: fade 4s ease-in-out 4s infinite;
}

#s39 {
  opacity: 0;
  animation: fade 5s ease-in-out 4s infinite;
}

#s40 {
  opacity: 0;
  animation: fade 3s ease-in-out 6s infinite;
}

#s41 {
  opacity: 0;
  animation: fade 3s ease-in-out 4s infinite;
}

#s42 {
  opacity: 0;
  animation: fade 5s ease-in-out 3s infinite;
}

#s43 {
  opacity: 0;
  animation: fade 4s ease-in-out 4s infinite;
}

#s44 {
  opacity: 0;
  animation: fade 5s ease-in-out 4s infinite;
}

#s45 {
  opacity: 0;
  animation: fade 3s ease-in-out 5s infinite;
}

#s46 {
  opacity: 0;
  animation: fade 5s ease-in-out 6s infinite;
}

#s47 {
  opacity: 0;
  animation: fade 4s ease-in-out 3s infinite;
}

#s48 {
  opacity: 0;
  animation: fade 5s ease-in-out 6s infinite;
}

#s49 {
  opacity: 0;
  animation: fade 3s ease-in-out 3s infinite;
}

#s50 {
  opacity: 0;
  animation: fade 4s ease-in-out 4s infinite;
}

#s51 {
  opacity: 0;
  animation: fade 5s ease-in-out 3s infinite;
}

#s52 {
  opacity: 0;
  animation: fade 5s ease-in-out 4s infinite;
}

#s53 {
  opacity: 0;
  animation: fade 3s ease-in-out 2s infinite;
}

#s54 {
  opacity: 0;
  animation: fade 4s ease-in-out 3s infinite;
}

#s55 {
  opacity: 0;
  animation: fade 5s ease-in-out 5s infinite;
}

@keyframes fade {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.atom-spinner,
.atom-spinner * {
  box-sizing: border-box;
}

.atom-spinner {
  height: 60px;
  width: 60px;
  overflow: hidden;
}

.atom-spinner .spinner-inner {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.atom-spinner .spinner-circle {
  display: block;
  position: absolute;
  @apply text-prim-500;
  font-size: calc(60px * 0.24);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.atom-spinner .spinner-line {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-duration: 1s;
  border-left-width: calc(60px / 25);
  border-top-width: calc(60px / 25);
  @apply border-l-prim-500;
  border-left-style: solid;
  border-top-style: solid;
  border-top-color: transparent;
}

.atom-spinner .spinner-line:nth-child(1) {
  animation: atom-spinner-animation-1 1s linear infinite;
  transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(2) {
  animation: atom-spinner-animation-2 1s linear infinite;
  transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(3) {
  animation: atom-spinner-animation-3 1s linear infinite;
  transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
}

@keyframes atom-spinner-animation-1 {
  100% {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-2 {
  100% {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-3 {
  100% {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
  }
}